<div id="wrapper" class="toggled collapse show">
    <div id="sidebar-wrapper">
        <div class='col-sm-12 element-space'>
            <button class='btn btn-primary col-sm-12 element-space' (click)="addEmployee()">Add</button>
        </div>
        <div class='alert alert-info' role='alert' *ngIf='indicateLoading'>
            <img src='../../../images/loading.gif' width='32' height='32' /> Loading...
        </div>
        <div class="list-unstyled col-sm-12" *ngFor="let employee of employees">
            <button type="button" class="list-group-item col-sm-12">{{employee.FirstName}} {{employee.Surname}}</button>
        </div>
        <div class="col-sm-12" *ngIf='!indicateLoading'>
            <ngb-pagination
                class="pagination-sm"
                (pageChange)="pageChanged($event)"
                [(page)]="currentPage"
                [collectionSize]="totalItems"></ngb-pagination>
        </div>
    </div>
</div>
<div id="toggle-button">
    <button class="btn btn-lg btn-toggle" type="button" id="menu-toggle" data-toggle="collapse" href="#wrapper"><span class="fa fa-angle-right"></span></button>
</div>
