@{
  ViewBag.Title = "Company";
}

<script>
        System.import('CompanyTestApp').catch(function(err){ console.error(err); });
</script>

<body>
  <company-test-app>Loading...</company-test-app>
</body>
