@{
    ViewBag.Title = "Employee";
}

<script>
        System.import('EmployeeTestApp').catch(function(err){ console.error(err); });
</script>

<body>
  <employee-test-app>Loading…</employee-test-app>
</body>
